{% extends 'base.html.twig' %}

{% block content %}

    <table id="table" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Location</th>
            <th>Employment Type</th>
            <th>Source</th>
            <th>Date</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Location</th>
            <th>Employment Type</th>
            <th>Source</th>
            <th>Date</th>
        </tr>
        </tfoot>
    </table>

{% endblock %}

